<!-- <h2>Switch</h2> -->
<!-- 
@for (
    item of itens; track item.name;
    let i = $index;
    let c = $count;
    let f = $first;
    let l = $last;
    let e = $even;
    let o = $odd;    
){
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last  - {{ l }}</p>
    <p>even  - {{ e }}</p>
    <p>odd   - {{ o }}</p>

}

<input type="text" #name>
<button (click)="addNewName(name.value)">add name</button> -->

<!-- <ul>
    @for (item of itens; track item.name) {
        <li> {{ item.name }} </li>
    } @empty {
        <li>Nenhum valor disponível</li>
    }
</ul> -->

<!-- @switch (condition) {
    @case ('A') {
        <p>Letra A</p>
    }
    @case ('B') {
        <p>Letra B</p>
    }
    @default {
        <p>Letra não encontrada</p>
    }
} -->